body{
    background : linear-gradient(to right , rgb(56, 55, 55) ,rgb(9, 2, 27) )
}
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
th{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
td{
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: initial;
}
nav{
    margin-bottom: 50px;
}
table{
    border-style: solid;
}
#divtbl{
    width: 75%;
    margin-left: 150px;
    margin-top: 100px;
}
#divx{
    background-color: rgb(92, 89, 89);
    color: rgb(8, 8, 8);
    margin-top: 100;
}